<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.CardsDrawftMapper">
    <resultMap id="BaseResultMap" type="ltd.newbee.mall.entity.CardsDrawft">
        <id column="drawft_id" jdbcType="INTEGER" property="drawftId"/>
        <result column="admin_user_id" jdbcType="INTEGER" property="adminUserId"/>
        <result column="card_name" jdbcType="VARCHAR" property="cardName"/>
        <result column="drawft_count" jdbcType="INTEGER" property="drawftCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="game_name" jdbcType="VARCHAR" property="gameName"/>
    </resultMap>
    <sql id="Base_Column_List">
        drawft_id, admin_user_id, card_name, drawft_count, create_time, game_name
  </sql>
    <select id="findCardsDrawftList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_newbee_mall_cards_drawft
        order by create_time desc
    </select>
    <select id="getTotalDraftCount" parameterType="Map" resultType="int">
        select count(*) from tb_newbee_mall_cards_drawft
    </select>

    <insert id="insert" parameterType="ltd.newbee.mall.entity.CardsDrawft">
    insert into tb_newbee_mall_cards_drawft (drawft_id, admin_user_id, card_name, drawft_count, game_name, create_time)
    values (#{drawftId,jdbcType=INTEGER}, #{adminUserId,jdbcType=INTEGER}, #{cardName,jdbcType=VARCHAR},
      #{drawftCount,jdbcType=INTEGER}, #{gameName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>

</mapper>